* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #060ab2;
  display: flex;
}

.score-section{
  width: 40%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#second,
#score-board {
  display: flex;
  justify-content: center;

  margin: 5vh;
  font-size: 10vh;
  color: #fff;
}

.memory-game {
  width: 60%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  gap: 12px;
  padding: 16px;
  margin-right: 5%;
}

.memory-card {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  margin: 2%;

  position: relative;
  border-radius: 8px;

  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  position: absolute;
  background-color: #676aff;
  padding: 10px;
  border-radius: 8px;

  width: 100%;
  height: 100%;

  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}